
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap');



.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:#7958a8;
    color:white;
    font-family:''
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    color: black;
    
    /* font-family: '', sans-serif; */
}

/* .main_text{
     font-weight: 1000;
} */

.how{
}
.how_cont{
display: flex;
justify-content: space-evenly;
align-items: center;
/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
color: black;
/* font-family: '', sans-serif; */


}

.home{
    background: white;
    /* background: white; */
}

.footer{
    background-color: #7958a8;
    height:50px;
    color: white;
    text-align: center;
    padding-top: 10px;
    /* font-family: '', sans-serif; */
}
a{
    color:white;
}

.hero{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* font-family: '', sans-serif; */
}
.heading{
    font-size: 30px;
    font-weight: 400;
}

.subheading{
    font-size: 15px;
    color:rgb(61, 54, 54);
}

.button{
    /* font-family: '', sans-serif; */
}
.docs_button{
    color: #7958a8;
    margin-top: 10px;
    
}


.steps{
    padding:40px;
    margin:30px;
    height:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}